<h1>CookBook</h1>
<br>
<p>Bem-vindo ao maior livro de receitas online</p>

<%= form_tag(search_recipes_path, method: 'get') do %>
	<%= label_tag(:query, "Busca") %>
	<%= text_field_tag(:query) %>
	<%= submit_tag("Buscar") %>
<% end %>

<h2>Localidade da cozinha</h2>
<% @cuisines.each do |cuisine| %>
	<%= link_to(cuisine.name, cuisine) %>
<% end %>

<h2>Tipos de receita</h2>
<% @recipe_types.each do |recipe_type| %>
<h1><%= link_to(recipe_type.name, recipe_type_path(recipe_type.id)) %></h1>
<% end %>



<% @recipes.each do |recipe| %>
	 <h1><%= link_to(recipe.title, recipe) %></h1>
	<ul>
		<li><%= recipe.recipe_type.name %></li>
		<li><%= recipe.cuisine.name %></li>
		<li><%= recipe.difficulty %></li>
		<li><%= "#{recipe.cook_time} minutos" %></li>
	</ul>
<% end %>